*, *::before, *::after
{
    box-sizing: inherit;
}

html
{
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    font-family: sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#main
{
    width: 800px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header
{
    width: 100%;
    background-color: gray;
    list-style: none;
    border-radius: 10px;
    margin-bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

    .header .menu
    {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 3;
    }

        .header .menu a
        {
            color: white;
            text-decoration: none;
            text-shadow: 1px 1px 1px black;
        }

    .header .social
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

.slider
{
    border-radius: 10px;
    height: 400px;
    background-image: url(../img/black-cat.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.content
{
    background-color: gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

    .content p
    {
        color: white;
        text-shadow: 1px 1px 1px black;
    }

.widget
{
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;

}

    .widget form
    {
        display: flex;
        justify-content: center;
    }

    .widget form > *
    {
        flex: 1;
    }


.footer
{
    background-color: gray;
    border-radius: 10px;
    padding: 10px; 
    margin-top: auto;
}

    .footer p
    {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 1px black;
    }